<aside class="sidebar" [class.sidebar--collapsed]="collapsed">
  <div class="sidebar__logo">
    <svg class="sidebar__logo-icon" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16" cy="16" r="14" fill="#e4002b"/>
      <path d="M10 16c0-3.3 2.7-6 6-6s6 2.7 6 6-2.7 6-6 6" stroke="white" stroke-width="2.5" stroke-linecap="round"/>
    </svg>
    <span class="sidebar__logo-text" *ngIf="!collapsed">Calabrio</span>
  </div>

  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      <li *ngFor="let item of navItems" class="sidebar__item" [class.sidebar__item--active]="item.active">
        <button class="sidebar__link" type="button" [attr.aria-label]="item.label">
          <span class="sidebar__icon">{{ item.icon }}</span>
          <span class="sidebar__label" *ngIf="!collapsed">{{ item.label }}</span>
        </button>
      </li>
    </ul>
  </nav>

  <div class="sidebar__bottom">
    <ul class="sidebar__list">
      <li *ngFor="let item of bottomItems" class="sidebar__item">
        <button class="sidebar__link" type="button" [attr.aria-label]="item.label">
          <span class="sidebar__icon">{{ item.icon }}</span>
          <span class="sidebar__label" *ngIf="!collapsed">{{ item.label }}</span>
        </button>
      </li>
    </ul>

    <div class="sidebar__user">
      <span class="sidebar__icon">👤</span>
      <span class="sidebar__label" *ngIf="!collapsed">{{ userName }}</span>
    </div>

    <button class="sidebar__toggle" (click)="toggleCollapse()" type="button" aria-label="Toggle sidebar">
      <span class="sidebar__icon">{{ collapsed ? '»' : '«' }}</span>
      <span class="sidebar__label" *ngIf="!collapsed">Hide menu</span>
    </button>
  </div>
</aside>
